{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% include 'CmfTreeBrowserBundle:Base:tree.html.twig' %}
<script type="text/javascript">
    jQuery(function($) {
        var defaults = {% include 'SonataDoctrinePHPCRAdminBundle:Tree:routing_defaults.html.twig' with {'routing_defaults': routing_defaults} %};

        $('#tree').cmfTree({
            request: {
                load: function (nodePath) {
                    return {
                        url: '{{ path('_cmf_resource', {
                            repositoryName: 'default',
                            path: '__path__'
                        }) }}'.replace('__path__', nodePath)
                        {# todo: include routing defaults #}
                    };
                }
            },
            actions: {
                'edit': { url: { data: '?sonata_links.edit' }, label: 'Edit', icon: 'fa  fa-pencil' },
                'delete': { url: { data: '?sonata_links.delete' }, label: 'Delete', icon: 'fa  fa-trash-o' }
            }
        });
    });
</script>

<div id="tree"></div>
