{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% set routing_default_values = {} %}
{% for default in routing_defaults %}
    {% if 'locale' == default %}
        {% set routing_default_values = routing_default_values|merge({'_locale': app.request.locale}) %}
    {% elseif 'format' == default %}
        {% set routing_default_values = routing_default_values|merge({'_format': app.request.format}) %}
    {% else %}
        {% set routing_default_values = routing_default_values|merge({default: app.request.attributes.get(default)}) %}
    {% endif %}
{% endfor %}

{% include 'CmfTreeBrowserBundle:Base:tree.html.twig' %}
<script type="text/javascript">
    jQuery(function($) {
        $('#tree').cmfTree({
            request: {
                load: function (nodePath) {
                    return {
                        url: '{{ path('_cmf_resource', {
                            repositoryName: repository_name,
                            root_node: root_node,
                            path: '__path__'
                        }|merge(routing_default_values)) }}'.replace('__path__', nodePath)
                    };
                }
            },
            actions: {
                'edit': {
                    url: { data: '?sonata_links.edit' },
                    label: "{{ 'create_item'|trans({}, 'SonataDoctrinePhpcrAdminBundle') }}",
                    icon: 'fa fa-pencil'
                },
                'delete': {
                    url: { data: '?sonata_links.delete' },
                    label: "{{ 'delete_item'|trans({}, 'SonataDoctrinePhpcrAdminBundle') }}",
                    icon: 'fa fa-trash-o'
                }
            }
        });
    });
</script>

<div id="tree"></div>
