{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% include 'CmfTreeBrowserBundle:Base:tree.html.twig' %}
<script type="text/javascript">
    jQuery(function($) {
        var defaults = {% include 'SonataDoctrinePHPCRAdminBundle:Tree:routing_defaults.html.twig' with {'routing_defaults': routing_defaults} %};

        $('#tree').cmfTree({
            request: {
                load: function (nodePath) {
                    return {
                        url: Routing.generate('_cmf_resource', jQuery.extend(defaults, {
                            repositoryName: 'phpcrodm_repo',
                            path: nodePath
                        }))
                    };
                },
            },
        });
    });
</script>

<div id="tree"></div>
